.movieDetails {
    background-color: var(--main-color);
    overflow: hidden;

    .title {
        h1 {
            color: white;
            text-align: center;
            padding-top: 40px;
            font-size: 30px;
        }
    }

    .top {
        display: flex;
        padding: 17px 17px 0px 17px;
        padding-top: 15px;
        justify-content: space-between;

        .left {
            padding-left: 10px;
            img {
                width: 35vw;
                height: 60vh;
            }
            .rating{
                color: white;
                padding-left: 15px;
                font-size: 20px;
                cursor: pointer;
            }
        }

        .right {
            padding-left: 30px;
            width: 65vw;
            color: white;
        }
    }
}