@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Roboto:wght@100&display=swap');

.loginImage {
    background-color: var(--main-color);
    // background-image: url("https://wallpaperaccess.com/full/1512217.jpg");
    background: radial-gradient(circle at 50% 35%, white, hsla(30, 20%, 20%, 0.5) 40%) no-repeat center,
        url('https://wallpaperaccess.com/full/1512217.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 166vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

.login {
    h1 {
        font-size: 80px;
        color: #187498;
        font-family: 'Oleo Script Swash Caps', cursive;
    }

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    .form {
        .icon {
            font-size: 40px;
            color: #033b50;
        }

        display: flex;
        flex-direction: column;
        width: 300px;

        input {
            flex: 9;
            height: 100%;
            padding: 7px 10px;
            margin: 5px;
        }

    }

    .buttons {
        display: flex;
        justify-content: space-between;
        padding: 25px 25px;

        #login {
            box-shadow: inset 0px 0px 15px 3px #0a2451;
            background: linear-gradient(to bottom, #0a2047 5%, #253c6b 100%);
            background-color: #233b66;
            border-radius: 15px;
            border: 1px solid #1f2f47;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 10px 30px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #1f2f5f;
        }

        #login:hover {
            background: linear-gradient(to bottom, #0e2c68 5%, #10264d 100%);
            background-color: #415989;
        }

        #login:active {
            position: relative;
            top: 1px;
        }

        #register {
            box-shadow: inset 0px 0px 15px 3px #b50505;
            background: linear-gradient(to bottom, #8a0606 5%, #b70404 100%);
            background-color: #2e466e;
            border-radius: 15px;
            border: 1px solid #1f2f47;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 10px 25px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #000000;
        }

        #register:hover {
            background: linear-gradient(to bottom, #7b0404 5%, #de0505 100%);
            background-color: #415989;
        }

        #register:active {
            position: relative;
            top: 1px;
        }
    }
}